<nav class="w-full bg-dark-300 py-[10px]">
  <div class="content-app flex justify-between items-center">
    <h1
      class="text-primary-500 text-title cursor-pointer"
      (click)="redirectHome()"
    >
      JesuVana
    </h1>
    <div class="sm:flex place-items-center gap-5 hidden">
      <p class="text-white text-normal" title="ir a favoritos">favoritos</p>
      <p class="text-white text-normal" title="inicia sesion">
        iniciar Session
      </p>
      <p class="text-white text-normal" title="te registras">registrarse</p>
    </div>
  </div>
</nav>
